// Place all the styles related to the article controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.block {
  border: #ffb6c1 solid 1px;
  border-left: #ffb6c1 solid 10px;
  padding: 20px;
  background: #fff;
}
