<!DOCTYPE html>
<html>
<head>
  <title>LetsGetGo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<style>
    body {
        margin: 10px;
        padding: 0;
    }
</style>

<body>
  <div class="pure-g">
    <%= yield %>
  </div>

</body>
</html>
